# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
venv/
env/

# Database
db.sqlite3
database/

# Documentation
docs/

AGENTS.md

# --- Media and Uploads ---
# Ignore all files inside the uploads folder...
uploads/*

# ...BUT do not ignore the .gitkeep file. 
# This ensures the folder is created on your teammates' machines.
!.gitkeep

# Worktrees
.worktrees/